.app-title {
  background-color: #007bff;
  color: white;
  padding: 10px;
  text-align: center;
}

app-content {
  margin: 15px 0;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
